<footer class="footer-main bg-light">
    
        <div class="d-flex justify-content-around">
            <div class="m-3">
                <div class="d-flex justify-content-around">
                    <img src="/assets/img/logo.png" alt="logo" width="100" id="logo-footer"/>
                    <h1 class="align-self-center">Tienda Super Gamer</h1>
                </div>
            </div>
            <div class="align-self-center">
                <i class="icon-facebook"></i> Siguenos en <a href="https://www.facebook.com/" target="_blank"
                    id="footer-link"> Facebook</a> <br />
                <i class="icon-instagram"></i> Siguenos en <a href="https://www.instragram.com/" target="_blank"
                    id="footer-link"> Instagram</a> <br />
                <i class="icon-phone "></i> <a> +56 9 9999 9999</a>
            </div>
        </div>
    
</footer>
