<!-- comienzo card de contenido -->

<div class="card card-products">
    <div class="card-header">
        <h4 class="text-center">Productos</h4>
    </div>


    <div class="card-body">
        <div class="row">
            <div *ngFor="let item of productoService.productos" class="col-4">

                <div class="text-center">




                    <div class="card">
                        <div class="card-header">{{item.nombre}}</div>
                        <div class="card-body">
                            <img src={{item.imgSrc}} alt={{item.name}} width="200" class="img-card">
                            <hr>
                            <p>${{item.precio}}</p>


                            <button class="btn btn btn-secondary" routerLink="/detalle/{{item.id}}">Detalle</button>
                            <br>
                            <!-- <button class="btn btn btn-secondary" (click)="agregarcarro(item.id)">Agregar Al
                                carrito</button> -->

                            <form (ngSubmit)="agregarcarro(item)">
                                <!-- <input [(ngModel)]="item" name="nombre" type="text" class="form-control" > -->

                                <button type="submit" class="btn btn btn-primary">Añadir al carrito </button>

                            </form>

                        </div>
                    </div>
                    <br>




                </div>
            </div>

        </div>



    </div>

    <div *ngFor="let item_carro of carro" class="col-4">
        <h1>{{item_carro}}</h1>

    </div>





    <!-- fin card de contenido -->