<!-- comienzo card de contenido -->

<div class="card card-products">
    <div class="card-header">
        <h4 class="text-center">Productos</h4>
    </div>


    <div class="card-body">
        <div class="row">
            <div *ngFor="let item of productoService.productos" class="col-4">

                <div class="text-center">




                    <div class="card">
                        <div class="card-header">{{item.nombre}}</div>
                        <div class="card-body">
                            <img src={{item.imgSrc}} alt={{item.name}} width="200" class="img-card">
                            <hr>
                            <p>{{item.precio | currency:'CLP':'symbol-narrow' }}</p>


                            <button class="btn btn btn-secondary" routerLink="/detalle/{{item.id}}">Detalle</button>
                            
                            <button class="btn btn btn-primary ms-3" (click)="agregarcarro(item)" routerLink="/carro">Agregar Al
                                carrito</button>
<!-- 
                            <form (ngSubmit)="agregarcarro(item)" >
                               

                                <button type="submit" class="btn btn btn-primary" >Añadir al carrito </button>

                            </form> -->

                        </div>
                    </div>
                    <br>




                </div>
            </div>

        </div>



    </div>

    <div *ngFor="let item_carro of carro" class="col-4">
        <h1>{{item_carro}}</h1>

    </div>





    <!-- fin card de contenido -->