<div class="container">
<h1>Login</h1>
    <form (ngSubmit)="login()" class="col-md-6 form-register">
        <div class="mb-3">
            <label for="email" class="form-label form-label-sm">Dirección Email :</label>
            <input type="email" class="form-control form-control-sm" id="email" placeholder="Email" [(ngModel)]="email"
                name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Clave :</label>
            <input type="password" class="form-control form-control-sm" id="password" placeholder="Contraseña"
                [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn-sm btn-primary" id="login">Iniciar Sesion</button>
        <button type="button" class="btn-sm btn-secondary">Olvide la clave</button>

    </form>
    <ul>
        <li *ngFor="let err of errores; let i = index" class="text-danger">
            {{err}}
        </li>
    </ul>


    <div class="alert alert-success" role="alert" *ngIf="logged">
        Se ha iniciado sesión exitosamente
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorLogged">
        Revise sus credenciales
    </div>


</div>