<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" alt="" width="60" height="60"> Tienda Super Gamer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/construccion">¿Como Comprar?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/carro">Carro de Compras</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link ">Fecha : {{mes}} - {{dia}} -{{anio}}</a>
                </li> -->



            </ul>
            <ul class="navbar-nav">
                <li class="nav-item ms-5 mt-1">
                    <input type="text" class="form-control" id="buscar" placeholder="Busqueda de producto">

                </li>
                <li class="nav-item ms-1 mt-1">
                    <a href="#" class="btn btn-primary">Buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-3" routerLink="/register">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <!-- {{carro}} -->
    <!-- <app-carrito></app-carrito> -->
</div>